fastapi
uvicorn
python-multipart

torch
torchvision
torchaudio

diffusers==0.29.2
transformers==4.41.2
accelerate==0.31.0
peft==0.11.1

huggingface_hub

insightface==0.7.3
onnxruntime

opencv-python-headless
Pillow>=10.0.0
numpy
python-dotenv

einops
safetensors
timm
scipy
omegaconf
ftfy